@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1008px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header_wrapper {
    display: flex;
    align-items: center;
}

.header_logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #000;
    gap: 4px;
    margin-right: auto;
}

.header_logo img {
    width: 24px;
    height: 24px;
}

.nav_list {
    display: flex;
    gap: 48px;
    margin-right: 49px;
}

.nav_link {
    color: #000;
}

.dark-mode {
    width: 20px;
    height: 29px;
    background-image: url('/assets/images/icons/moon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

/* hero section */
.hero {
    padding-top: 64px;
    padding-bottom: 56px;
}

.rasm{
    width: 600px;
    height: 500px;
}

.hero__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 450px;
}

.hero__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    margin-bottom: 16px;
}

.hero__desc {
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 48px;
}

.hero__link {
    display: flex;
    width: 204px;
    height: 64px;
    border-radius: 64px;
    justify-content: center;
    align-items: center;
    background-color: #C0384C;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

/* giving section */
.giving {
    padding-top: 72px;
    padding-bottom: 32px;
}

.giving__title-wrapper {
    width: 205px;
    margin: 0 auto;
}

.giving__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 56px;
}

.giving__list {
    display: flex;
    justify-content: space-between;
}

.giving__item {
    width: 30%;
    text-align: center;
}

.giving__img {
    width: 100%;
    margin-bottom: 16px;
}

.giving__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 8px;

}

.giving__subdesk{
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
}

/* celebrate section */
.celebrate{
    padding-top: 52px;
    padding-bottom: 52px;
}

.celebrate__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.celebrate__img-wrapper{
    width: 450px;
}

.celebrate__img-wrapper img{
    width: 450px;
}

.celebrate__content{
    width: 372px;

}

.celebrate__title{
    width: 235px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.celebrate__desc{
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 40px;
    color: #5E5658;
}

.celebrate__link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 215px;
    height: 56px;
    border-radius: 64px;
    background-color: #DC3845;
}

/* gift section*/
.gift{
    padding-top: 72px;
    padding-bottom: 32px;
}

.gift__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 64px;
}

.gift__list{
    width: 680px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.gift__item{
    position: relative;
    padding: 32px 40px 24px 24px;
    width: 200px;
    border-radius: 12px;
    box-shadow: 0px 4px 24px 0px #301D1E1A;
}

.gift__img{
    width: 120px;
    height: 120px;
    margin: 0 auto 16px;
}

.gift__price{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 4px;
}

.gift__subtitle{
    font-weight: 500;
    font-style: Medium;
    font-style: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5D5656;
}

.gift__like{
    top: 20px;
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url();
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

/* contact section */
.contact{
    padding-top: 96px;
    padding-bottom: 72px;
}

.contact__wrapper{
    padding: 50px 121px 50px 151px;
    display: flex;
    justify-content: space-between;
    background-color: #DC3845;
    border-radius: 32px;
}

.contact__form{
    display: flex;
    flex-direction: column;
    width: 256px;
}

.contact__title{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 24px;
}

.contact__input{
    width: 264px;
    height: 55px;
    padding: 0 24px;
    border-radius: 64px;
    margin-bottom: 13px;
    border: none;
}

.contact__img-wrapper{
    width: 320px;
}

.contact__btn{
    width: 175px;
    height: 55px;
    border-radius: 64px;
    background-color: #282525;
    color: #fff;
    border: none;
}